.shortcut-wrapper{
    position: relative;
    bottom: 0px;
    width: 100%;
}
.shortcut-blank{
    background-color: rgba(240,240,240,0.5);
    display: flex;
    width: 240px;
    margin: 0 auto;
    height: 100%;
    justify-content: space-around;
    padding:5px;
    border-radius: 5px;
    pointer-events: auto;
}
.shortcut-block{
    border-radius: 5px;
}